 body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #b1cbee;
  background-image: url(https://dbdzm869oupei.cloudfront.net/img/alfombretaratoli/preview/48572.png);
  background-size: cover;
  background-repeat: no-repeat;

}

.container{
  max-width: 600px;
  background: white;
  padding: 30px;
  margin: 60px auto;
  box-shadow: 12px 12px 2px 1px rgba(21, 21, 22, 0.2);
  border-radius: 10px;

}

.city{
  display: flex;
  justify-content: space-between;
  margin:18px 0;
  border-bottom:1px dashed rgb(221, 221, 221);
  padding: 30px 0;
}
 
.city:last-child{
  border: none;
}

.time{
  display: flex;
  font-size: 48px;
  font-weight: bold;
  color: #4E31AA;

}
.time small{
  font-size: 24px;
  line-height:36px;
  vertical-align: middle;

}
.date{
  opacity:0.7;
  color: #46024d;
}

select{
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  padding: 10px;
  font-size: 18px;
  background-color: #eef3f5;
  color: #050b7e;
  font-family: merieda;

}
h1 {
  color: #050C9C;
  font-size: 52px;
  text-align: center;
  font-family: merienda;

}

h2 {
  margin: 0 0 5px;
  font-size: 32px;
  color: #FF0080;
  font-family: spicy rice;
  font-weight: 100;
} 
footer{
  text-align: center;
  font-size: 20px;
  color: rgba(8, 8, 8, 0.5);
  font-family: cursive;
}